.info {
  padding-top: 80px;
  background: var(--color-black);
}

.info__block {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 52px;
  width: 100%;
  min-height: 590px;
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(177, 184, 216, 0.01) 100%
  );
}

.info__title {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 52px;
  line-height: 1.23077;
  background: linear-gradient(180deg, #f5faff 0%, #dbf1ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.info__subtitle {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  color: #9896b2;
  margin-bottom: 55px;
}

.info__services {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info__service {
  position: relative;
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 32px;
  background: linear-gradient(180deg, #f5faff 0%, #dbf1ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    font-weight: 400;
    font-size: 24px;
    color: #cfcee3;
  }
}

.dot-blue::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("./../../img/icons/dot-blue.svg");
  animation: blink 1s infinite alternate;
}

.dot-purple::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("./../../img/icons/dot-purple.svg");
  animation: blink 1s infinite alternate;
}

.dot-green::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("./../../img/icons/dot-green.svg");
  animation: blink 1s infinite alternate;
}

.dot-white::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("./../../img/icons/dot-white.svg");
  animation: blink 1s infinite alternate;
}

@media (max-width: 1472px) {
  .info__title {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .info__subtitle {
    font-size: 16px;
    margin-bottom: 55px;
  }
  .info__service {
    font-size: 24px;
    span {
      font-size: 18px;
    }
  }
}
@media (max-width: 1158px) {
  .info__block {
    min-height: 400px;
  }
  .info__title {
    font-size: 24px;
  }
  .info__service {
    font-size: 20px;
    span {
      font-size: 12px;
    }
  }
  .info__img {
    width: 450px;
    height: 400px;
  }
}
@media (max-width: 920px) {
  .info {
    padding-top: 100px;
  }
  .info__block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .info__img {
    width: 360px;
    height: 310px;
  }
}
@media (max-width: 452px) {
  .info__img {
    width: 200px;
    height: 170px;
  }
}
