.target {
  padding-top: 160px;
  background: var(--color-black);
}

.target__title {
  font-family: var(--font-second);
  font-weight: 600;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  background: linear-gradient(180deg, #fff 0%, #e3e0f0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}

.target__subtitle {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: #9896b2;
  margin-bottom: 40px;

  span {
    font-size: 22px;
  }
}

.target__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.target__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 52px 10px;
  min-width: 100%;
  min-height: 434px;
  border-radius: 24px;
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(247, 249, 255, 0.05) 49.52%,
    rgba(239, 250, 255, 0.03) 100%
  );
}

.target__card-img {
  height: 200px;
}

.target__card-img-mobile {
  display: none;
}

.target__card-title {
  font-family: var(--font-second);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08333;
  text-align: center;
  background: linear-gradient(180deg, #f7f5ff 0%, #e1dbff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 36px;
}

.target__card-subtitle {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #9896b2;
}

.target__btn-wrap {
  display: flex;
  justify-content: center;
}

.target__btn {
  font-family: var(--font-second);
  width: 303px;
  min-height: 64px;
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 1489px) {
  .target__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1165px) {
  .target__card {
    min-height: 225px;
    border-radius: 12px;
  }
}
@media (max-width: 849px) {
  .target__card-title {
    margin-bottom: 18px;
  }
  .target__card-subtitle {
    font-size: 18px;
  }
}
@media (max-width: 749px) {
  .target {
    padding-top: 100px;
  }
  .target__title {
    font-size: 36px;
  }
  .target__subtitle {
    font-size: 18px;

    span {
      font-size: 20px;
    }
  }
  .target__cards {
    margin-bottom: 20px;
  }
  .target__card {
    padding: 0 10px 30px 10px;
  }
  .target__card-img--hidden {
    display: none;
  }
  .target__card-img-mobile {
    display: block;
  }
  .target__card-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .target__card-subtitle {
    font-size: 14px;
  }
  .target__btn {
    width: 220px;
    min-height: 48px;
    font-size: 16px;
  }
}
@media (max-width: 549px) {
  .target__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .target__subtitle {
    font-size: 14px;
    margin-bottom: 20px;

    span {
      font-size: 16px;
    }
  }
  .target__card-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .target__card-subtitle {
    font-size: 10px;
  }
  .target__btn {
    font-family: var(--font-second);
    width: 200px;
    min-height: 48px;
    font-size: 16px;
  }
}
